<!DOCTYPE HTML>
<html lang="en" ng-app="blockTorApp">
   <head>
      <meta charset="UTF-8">
      <title>Block Tor</title>
      <link href="./bootstrap.min.css" rel="stylesheet">
      <link href="./bootstrap-theme.min.css" rel="stylesheet">
      <link href="main.css" rel="stylesheet">
   </head>
   <body>
      <div class="heading"></div>
      <div class="container theme-showcase" role="main">
         <div id="logo" class="jumbotron center">
            <img class="logo" src="logo.png" alt="" />
         </div>
         <div ng-controller="BlockTorController as blockTor">
            <h1 class="center">Team BlockTor</h1>
            <div class="row">
               <div class="col-md-7 col-md-offset-2">
                  <div class="input-group input-group-lg search-box-group center">
                     <input type="text" class="form-control search-box center" ng-model="blockTor.filter"/>
                     <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                     </span>
                  </div>
               </div>
            </div>
            <h1 class="loading center">Loading ...</h1>
            <ul class="hidden">
              <li ng-repeat="torrent in blockTor.torrentList()">
                 <img src="good.png" class="magnet" ng-show="true" alt="" title="Good Reputation"/>
                 <a href="magnet:?xt=urn:btih:{{ torrent.id }}">
                 <img src="magnet.png" class="magnet" alt="" />
                    {{ torrent.name }}</a> -
                 <span>{{ torrent.description }}</span>
              </li>
            </ul>
         </div>
      </div>
      <div id="main"></div>
      <script src="./jquery-3.1.1.min.js"></script>
      <script src="./bootstrap.min.js"></script>
      <script src="./angular.min.js"></script>
      <script src="../js/reader.js"></script>
      <script src="./main.js"></script>
   </body>
</html>
