.heading {
   padding-top: 20px;
}

.left {
   text-align: left;
}

.center {
   text-align: center;
}

.search-box-group {
   margin: 20px;
   /*max-width: 200px;*/
}

.loading {
   color: #828282;
}

img.logo {
   height: 250px;
}

.top20 {
   margin-top: 20px;
}
